body {
  margin: 0;
  padding: 0;
  background-color: #d3c4b0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(84, 18, 18);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  background-color: #d3ba9a;
  gap: 50px;
}

.navbar-btn {
  height: 50px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 16px;
}

.articles-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ea8a0b;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
}

.articles-link:hover {
  background-color: #ebd0ac;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: scale(1.02);
}

.article-items {
  display: flex;
  flex-direction: column;
  color: rgb(84, 18, 18);
  gap: 10px;
}
img {
  width: 100%;
  height: auto;
}
.article-image {
  width: 50%;
  height: auto;
}
.article-page {
  margin: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.home-btn {
  background-color: #d79e54;
  border: 1px solid #d79e54;
  border-radius: 10px;
  height: 50px;
  margin-top: 20px;
}

.home-btn:hover {
  background-color: #ea8a0b;
}
.article-btns {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.error-message,
.no-topic {
  font-size: 50px;
  color: rgb(186, 100, 100);
}

.single-comment {
  margin: 10px;
}

.topics-btn {
  margin: 10px;
  background-color: #d79e54;
  border: 1px solid #d79e54;
  border-radius: 10px;
  height: 50px;
  margin-top: 20px;
  color: rgb(84, 18, 18);
  font-size: medium;
}
.topic {
  margin: 10px;
  color: rgb(84, 18, 18);
}
.topics-btn:hover {
  background-color: #ea8a0b;
}
.selected-topic {
  background-color: #ea8a0b;
}
.sort_by {
  margin: 10px;
  display: flex;
  gap: 10px;
}
.comments {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
  gap: 10px;
  /* border: 1px solid #ea8a0b; */
  width: 50%;
  margin-left: 25%;
  padding: 10px;
}
.article-body {
  width: 50%;
}
.topic-dropdown {
  border-radius: 5px;
  overflow: hidden;
  height: 25px;
}
